* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #F3E5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #4A148C;
    animation: fadeInDown 1s ease-out;
}

.login-box {
    background-color: #311B92;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1.5s ease-out;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #ffffff;
}

label {
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.3s ease;
    color: #ccc;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 0.9rem;
    color: #ffffff;
}

button {
    background-color: #6A1B9A;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4A148C;
}

.actions a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.switch-page p {
    margin-top: 10px;
}

.switch-page a {
    color: #BB86FC;
    text-decoration: none;
}

.switch-page a:hover {
    text-decoration: underline;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input, button {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s forwards ease-out;
}

input:nth-child(1) {
    animation-delay: 0.2s;
}

input:nth-child(2) {
    animation-delay: 0.4s;
}

button {
    animation-delay: 0.8s;
}
